@import '../styles/utils/typography';
@import '../styles/utils/colors';
@import '../styles/utils/mixins';

$body-background-color: $base-light-gray-color;
$body__text-color: $base-dark-color;
$body__secondary-text-color: #{lighten($base-dark-color, 40)};

body {
    font-size: 1rem;
    font-family: $body-font;
    color: $body__text-color;
    background-color: $body-background-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $heading-font;
    }

    .container {
        @media screen and (min-width: 1600px) {
            max-width: 1580px;
        }
    }
}
