<div
    class="px-4 px-md-0 px-lg-2 d-flex align-items-center justify-content-center users-container"
    [appTheme]="currentTheme"
>
    <!-- Page Loader -->
    <div *ngIf="isContentLoading">
        <app-loader></app-loader>
    </div>
    <!-- Main Page Content -->
    <div *ngIf="!isContentLoading" class="py-5 w-100">
        <!-- Page Title  -->
        <app-page-title [title]="pageTitle"></app-page-title>
        <!-- Alert  -->
        <app-alert [alert]="alert" *ngIf="isAlertShowing"></app-alert>
        <!-- Select Theme  -->
        <div class="d-flex justify-content-center" *ngIf="!isAlertShowing">
            <ng-select
                [searchable]="false"
                [clearable]="false"
                placeholder="Pick a theme"
                (change)="setTheme($event)"
            >
                <ng-option *ngFor="let theme of themeOptions" [value]="theme">{{
                    theme
                }}</ng-option>
            </ng-select>
        </div>
        <!-- Next - Previous buttons -->
        <app-pager
            *ngIf="!isAlertShowing"
            (page)="onPageChange($event)"
            [isNextButtonDisabled]="isNextButtonDisabled"
            [isPrevButtonDisabled]="isPrevButtonDisabled"
        ></app-pager>
        <!-- User Cards -->
        <div
            class="d-flex flex-column flex-lg-row justify-content-between users"
            *ngIf="!isAlertShowing"
        >
            <div class="user-item" *ngFor="let user of displayedUserCards">
                <app-user-card [user]="user"></app-user-card>
            </div>
        </div>
    </div>
</div>
