@import '../styles/utils/mixins';
@import '../styles/utils/colors';

:host {
    --color-main: #{$base-purple-color};
    --color-accent: #{$base-rose-color};
    --color-gradient: #{$base-purple-rose-gradient};

    display: block;
    text-align: center;
}

* {
    @include transition-all;
}

.users-container {
    min-height: 100vh;
    position: relative;

    .users {
        .user-item {
            width: 100%;

            @media screen and (min-width: 992px) and (max-width: 1119px) {
                width: 18rem;
            }

            @media screen and (min-width: 1200px) and (max-width: 1399px) {
                width: 20.5rem;
            }

            @media screen and (min-width: 1400px) and (max-width: 1599px) {
                width: 24.5rem;
            }

            @media screen and (min-width: 1600px) {
                width: 30rem;
            }

            &:nth-child(even) {
                padding: 3rem 0;

                @media screen and (min-width: 992px) {
                    padding: 0;
                }
            }
        }
    }

    .blob {
        display: none;
        @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 60%;
            z-index: -1;
        }
    }
}
