// Color Palette
$base-bright-blue-color: #34C1FD;
$base-purple-color: #5C76E7;
$base-rose-color: #FC656C;
$base-yellow-color: #FADB5F;
$base-aquamarine-color: #60CC96;

$base-gray-color: #D8DDEF;
$base-light-gray-color: #F0F4F8;

$base-dark-color: #2D3142;

// Global Colors
$primary-color: $base-purple-color;
$secondary-color: $base-yellow-color;
