@mixin glass-fx($blur-amount: 4px, $transparency: 0.25, $with-outline: true) {
    background: rgba(255, 255, 255, $transparency);
    backdrop-filter: blur($blur-amount);
    border-radius: 0.3rem;
    @include soft-shadow();

    @if $with-outline {
        border-top: 1px solid rgba(255, 255, 255, 0.18);
    } @else {
        border: none;
    }
    @content;
}

@mixin shadow {
    box-shadow: 0 2px 8px 2px rgba(45, 49, 66, 0.18);
}

@mixin soft-shadow {
    box-shadow: 0 8px 32px 0 rgba(45, 49, 66, 0.37);
}

@mixin transition-all {
    transition: all ease-in-out 300ms;
}
