@import '../../../styles/utils/colors';
@import '../../../styles/utils/mixins';

$select__disabled-text--color: #{lighten($base-dark-color, 40)};

$select-option-purple-background-color: $base-purple-color;
$select-option-purple-rose-gradient-gradient: $base-purple-rose-gradient;

$select-option-rose-background-color: $base-rose-color;
$select-option-rose-yellow-gradient-gradient: $base-rose-yellow-gradient;

$select-option-yellow-background-color: $base-yellow-color;
$select-option-yellow-aqua-gradient-gradient: $base-yellow-aquamarine-gradient;

$select-option-aqua-background-color: $base-aquamarine-color;
$select-option-aqua-blue-gradient-gradient: $base-aquamarine-bright-blue-gradient;

$select-option-blue-background-color: $base-bright-blue-color;
$select-option-blue-purple-gradient-gradient: $base-bright-blue-purple-gradient;

$select-option-yellow-blue-gradient-gradient: $base-yellow-bright-blue-gradient;

* {
    @include transition-all;
}

.ng-select {
    width: 20rem;
    margin-bottom: 5rem;

    .purple-rose {
        background-color: $select-option-purple-background-color;
        background-image: $select-option-purple-rose-gradient-gradient;
    }

    .rose-yellow {
        background-color: $select-option-rose-background-color;
        background-image: $select-option-rose-yellow-gradient-gradient;
    }

    .yellow-aqua {
        background-color: $select-option-yellow-background-color;
        background-image: $select-option-yellow-aqua-gradient-gradient;
    }

    .aqua-blue {
        background-color: $select-option-aqua-background-color;
        background-image: $select-option-aqua-blue-gradient-gradient;
    }

    .blue-purple {
        background-color: $select-option-blue-background-color;
        background-image: $select-option-blue-purple-gradient-gradient;
    }

    .yellow-blue {
        background-color: $select-option-yellow-background-color;
        background-image: $select-option-yellow-blue-gradient-gradient;
    }

    .ng-select-container {
        border-radius: 0.3rem;
        border: none;
        height: 3rem;
        min-height: 3rem;
        @include soft-shadow;

        &:hover {
            @extend .ng-select-container;
        }

        .ng-value-container {
            padding-left: 0.875rem;

            .ng-input {
                top: 0.75rem;
                padding-left: 0.875rem;
            }

            .ng-placeholder {
                color: $select__disabled-text--color;
            }

            .ng-value {
                width: 100%;
                text-align: initial;
                display: flex;
                align-items: center;

                span {
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    border-radius: 0.3rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .ng-arrow-wrapper {
            width: 32px;
            padding-right: 6px;
            position: relative;

            .ng-arrow {
                border: none;

                &::after {
                    position: absolute;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    top: -1rem;
                    right: -5px;
                    font-family: 'Font Awesome 5 Free';
                    content: '\f078';
                    font-weight: 700;
                }
            }
        }
    }

    &.ng-select-focused {
        &:not(.ng-select-opened) {
            > .ng-select-container {
                @extend .ng-select-container;
            }
        }
    }

    &.ng-select-opened {
        &.ng-select-bottom {
            > .ng-select-container {
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;

                &:hover {
                    @include soft-shadow;
                }

                .ng-arrow-wrapper {
                    .ng-arrow {
                        top: 0;
                        &::after {
                            content: '\f077';
                        }
                    }
                }
            }
        }
    }

    .ng-dropdown-panel {
        top: 56px;
        border-radius: 0.3rem;
        border: none;
        margin-top: 0;
        @include soft-shadow;

        &.ng-select-bottom {
            .ng-dropdown-panel-items {
                padding: 1rem;

                div {
                    border-radius: 0.3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .ng-option {
                    padding: 0;
                    @include transition-all;

                    &:hover {
                        opacity: 0.7;
                    }

                    span {
                        width: 2rem;
                        height: 2rem;
                    }

                    &.ng-option-marked {
                        background-color: white;
                    }
                }
            }
        }
    }
}
