@import '../../../styles/utils/mixins';
@import '../../../styles/utils/colors';

$pager__button-disabled-text-color: #{lighten($base-dark-color, 40)};
$pager__button-text-color: #{var(--color-main)};

* {
  @include transition-all;
}

.pager-container {
    button {
        color: $pager__button-text-color;
        @include shadow;
        @include transition-all;

        span {
            @include transition-all;
        }

        &:hover {
            span {
                opacity: 0.7;
            }
        }
        &:disabled {
            opacity: 1;
            color: $pager__button-disabled-text-color;
        }
    }
}
