@import '../../../styles/utils/mixins';
@import '../../../styles/utils/colors';

$divider-background-color: #{var(--color-main)};

* {
    @include transition-all;
}

.page-title {
    margin-bottom: 5rem;

    .divider {
        width: 4rem;
        height: 4px;
        margin: 0 auto;
        border-radius: 0.3rem;
        background-color: $divider-background-color;
    }
}
